@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}
.container {
  margin: 0 auto;
  max-width: 1500px;
}

/* header start */
.section__header {
  background: #131c39;
  padding: 25px;
}

.header__items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 71px;
}

.header__links {
  color: white;
  font-size: 22px;
}

.header__block {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.logo__img {
  width: 164px;
  height: 52px;
}

.logo__img > img {
  width: 100%;
  height: 100%;
}

/* header end */

/* choising start */
.choising__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.choising__img {
  width: 872px;
  height: 491px;
}

.choising__img > img {
  width: 100%;
  height: 100%;
}
/* choising end */

/* feedback start */
.feedback__img {
  width: 736px;
  height: 320px;
}
.feedback__img > img {
  width: 100%;
  height: 110%;
}

.feedback__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 60px;
}
/* feedback end */

/* faq start */
.faq__block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 27px;
  margin-top: 30px;
}

.faq__img {
  width: 1436px;
  height: 333px;
}

.faq__img > img {
  width: 86%;
  height: 105%;
}

/* faq end */
